#landing-div{
    background-size: cover;
    background-image: url("../assets/backgs.png");
    background-repeat: no-repeat;
    height: 100vh;
}

#portfolio-div{
    background: rgb(66, 66, 66);
    min-height: 100vh;
}

.nav-container{
    width:100%;
    /* border: solid 3px;
    border-color: black; */
    padding: 20px;
}

.custom-hr{
    width: 80%;
    background-color: white;
    height: 7px;
    border-radius: 50%;
}

.nav{
    display:flex;
    justify-content: space-evenly;
    margin-left: 10%;
    margin-right: 10%;
}

.quote{
    display:flex;
    margin-top: 30px;
    margin-left: 30%;
    margin-right: 30%;
    justify-content: center;
    font-size: 30px;
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}
.shadow{
    font-size: 30px;
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}
.portfolio-img{
    width: 30vw;
    height: 30vh;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer-container{
    background-color: #333;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-container span{
    padding: 2vh;
    color:white;
    font-size: 30px;
}


.trapezium {
    padding-top: 5vh;
    margin-left: 20%;
    margin-right: 20%;
    background:white;
    border-bottom: 100px solid rgb(51, 51, 51);
    border-left: 35vh solid transparent;
    border-right: 35vh solid transparent;
    height: 90vh;
}

.portfolio-card{
    margin: 5vh;
    padding: 2vh;
}

.portfolio-container{
    display:flex;
    justify-content: space-evenly;  
    flex-wrap: wrap;
}

.portfolio-container div h2{
    margin-top:3vh;
    color:white;
    font-size: 30px;
    display:flex;
    justify-content: center;
}

.dark-wrapper{
    box-shadow: 1px 1px 15px 2px black;
}

.light-wrapper{
    box-shadow: 1px 1px 15px 5px white;
}

.landing-pic{
    margin-top:5vh;
    width: 35vh;
    height:35vh;
}

.portfolio-link{
    font-size: 30px;
    color: white;
    transition: 0.4s;
    padding: 1vh;
    border-radius: 5px;
}

.portfolio-link:hover{
    cursor: pointer;
    box-shadow: 1px 1px 15px 5px white;
}

.contact-link{
    font-size: 30px;
    color: white;
    padding: 1vh;
    border-radius: 5px;
}

.contact-link:hover{
    cursor: pointer;
    box-shadow: 1px 1px 15px 5px white;
}

.contact-img{
    margin-top: 2vh;
    width: 20vh;
}

.phone-string{
    font-size: 20px;
    color: white;
    display: flex;
    justify-content: center;
}

.email-string{
    font-size: 20px;
    color: white;
    display: flex;
    justify-content: center;
}

.arrow-link{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10vh;
    height: 10vh;
    position: relative;
    top: 6vh;
    transition: 0.3s;
    border-radius: 50%;
}

.arrow-link:hover{
    cursor: pointer;
    box-shadow: 1px 1px 15px 5px white;
}

.return:hover{
    box-shadow: 1px 1px 15px 5px white;    
}

/* 
.landing-text{
    color: white;
    font-size: 4em;
    text-align: center;
    margin-bottom: 4vh; 
    text-shadow:
    -1px -1px 0 #00aeb3,
    1px -1px 0 #00aeb3,
    -1px 1px 0 #00aeb3,
    1px 1px 0 #00aeb3;  
} */

.footer{
    background-color: #373d42;
}