
/*
Color Schema

light blue: 7fd6d9
blue: 00F2FA
dark grey: 373d42
light grey: 606a70
title color grey: 414042
text color grey: 898989
yellow: 373d42
*/

#footer{
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    bottom:0;
    width:100%;
    height: 11vh;
    background-color: #373d42;
    border-top: 4px solid #00F2FA;
}

.contact-container{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

#portfolio-station{

}

html{
    scroll-behavior: smooth;
}

.skills-title{
    font-size: 3vw;
    padding: 1vh;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    margin-top:5vh;
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
}

.portfolio-title{
    font-size: 3vw;
    padding: 1vh;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    margin-top:5vh;
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
}
/* 
#portfolio-button:hover{
    border: 4px solid #fff;
    color: #fff;
} */

.text-left{
    color: white;
    font-size: 1.5vw;
    margin-bottom: 4vh; 
    font-family: 'Raleway', sans-serif;
    text-align: left;
}

.text-left li i{
    padding-right: 5px;
}

.icon{
    height: 90px;
}

.skills{
    width:100%;
    display: flex;
    justify-content: space-evenly;
}

#portfolio-button{
    margin: 1vh;
    width: 70%;
    max-width: 250px;
    border: 4px solid #00F2FA;
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
}

.project-button{
    margin: 1vh;
    min-width: 140px;
    width: 10vw;
    border: 4px solid #00F2FA;
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
}

.project-button:hover{
    border: 4px solid #fff;
    color: #fff;

}

select option{
    background:#373d42;
}

select{
    text-transform: uppercase;
    background-color: transparent;
    border: 4px solid #00F2FA;
    color: #FFFFFF;
    font-size: 30px;
    transition-duration: .5s;
}

button{
    text-transform: uppercase;
    background-color: transparent;
    border: 4px solid #00F2FA;
    color: #FFFFFF;
    font-size: 30px;
    transition-duration: .5s;
}

.background{
    background-color: #373d42;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #373d42;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 2;
    border-bottom: 4px solid #00F2FA;
}

.spacer{
   padding: 2vw;
}

.portfolio{
    display:flex;
    padding: 3%;
    margin: 5% 5% 5% 5%;
    border: 2px solid #7fd6d9;
    border-radius: 10px;
}

.parallax {
    margin-top: 80px;
    background-image: url("../assets/background.jpg");
    min-height: 1000px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.title{
    color: #FFFFFF;
    font-size: 3vw;
    text-align: center;
    margin-bottom: 4vh;
    margin-top: 1vh;
    font-family: 'Josefin Sans Semibold', sans-serif;
}

.secondary-title{
    color: #e4f500;
    font-size: 2vw;
    text-align: center;
    margin-bottom: 2vh;
    margin-top: 1vh;
    font-family: 'Josefin Sans Semibold', sans-serif;
}

.text{
    color: white;
    font-size: 1.5vw;
    text-align: center;
    margin-bottom: 4vh; 
    font-family: 'Raleway', sans-serif;
}

.landing-container{
    display: flex;
    justify-content: space-around;
}

.landing-text{
    margin: 0 5% 0 5%;
    width: 30vw;
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size:1.5rem;
    padding: 1em;
    background-color: #606a70;
    opacity: 0.9;
}

.landing-text h2{
    font-size: 2vw;
}

.flex-justify-center{
    display: flex;
    justify-content: center;    
}

.inline-flex{
    display: inline-flex;
}

.flex-align-center{
    display: flex;
    align-items: center;
}

.column{
    flex-direction: column;
}

.margin{
    margin-left: 15%;
    margin-right: 15%;
}

.reduce-margin{
    margin:0;
}

.github{
    color: #00F2FA;
    font-size: 2vw;
    text-align: center;
    transition: 0.3s;
    font-family: 'Josefin Sans Semibold', sans-serif;
}

a{
    text-decoration: none;
}

.github:hover{
    cursor: pointer;
    color:white;
}

.portfolio-img{
    width: 100%;
    transition: 0.7s;
}

.footer-img{
    padding:2.5vh;
    width: 7em;
}

.portfolio-img:hover{
    cursor: pointer;
}

.hidden-title{
    display:none;
}

.left{
    margin-left: 10%;
}

.right{
    margin-right: 10%;    
}

.my-img{
    height: 1000px;
    position: relative;
}

.contact-img{
    margin: 3.5vh;
    width: 7em;
}

.pre{
    display:none;
}

@media only screen and (max-width: 500px) {
    .icon{
        
    }
    .text{
        top: 1vw;
    }
}

/* @media only screen and (max-width: 1250px) {
    .landing-text{
        font-family: 'Raleway', sans-serif;
        text-align: center;
        color: white;
        font-size: 3vw;
        margin: 0 5% 0 5%;
        padding: 1em;
        background-color: #606a70;
        opacity: 0.8;
        border: 2px solid #7fd6d9;
    }
} */

@media only screen and (max-width: 550px) {
    .contact-img{
        margin-left:1.5vh;
        margin-right:1.5vh;
        margin-bottom:0;
        width: 3em;
    }
}

@media only screen and (max-width: 800px) {
    .project-button{
        width: 40vw;
    }
    .skills{
        flex-direction: column;
    }
    .skills-title{
        font-size: 8vw;
    }
    .portfolio-title{
        font-size: 8vw;
    }
    .portfolio{
        display:block;
        margin: 5% 5% 11vh 5%;
    }
    
    .github{
        font-size: 3vw;
    }

    button{
        font-size: 4vw;
    }

    .portfolio-button{
        width: 30%;
    }


    .title{
        color: #00F2FA;
        font-size: 10vw;
        margin-bottom: 2vh;
        margin-top: 1vh;
    }

    .text{
    font-size: 6vw;
    margin:0;
    }

    .secondary-title{
       font-size: 7.5vw;
    }
}

@media only screen and (max-width: 1000px) {
    .text-left{
        font-size: 5vw;
        text-align: center;
    }

    .landing-text{
        width: 100%;
        font-size: 4vw;
        margin: 0 5% 5% 5%;

    }
    .landing-text h2{
        font-size: 5vw;
    }
    .my-img{
        display: block;
        height: 300px;
        margin-top: 2em;
        background-color: transparent;
    }
    .landing-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .post{
        display:none;
    }
    .pre{
        display:block;
    }
}

@media only screen and (max-width: 1000px) {
    .contact-img{
        width: 5em;
    }
}





.fade-in-fwd {
	-webkit-animation: fade-in-fwd 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-fwd 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

 @-webkit-keyframes fade-in-fwd {
    0% {
      -webkit-transform: translateZ(-80px);
              transform: translateZ(-80px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  @keyframes fade-in-fwd {
    0% {
      -webkit-transform: translateZ(-80px);
              transform: translateZ(-80px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  