
/*
Color Schema

light blue: 7fd6d9
blue: 00aeb3
dark grey: 373d42
light grey: 606a70
title color grey: 414042
text color grey: 898989
*/

.background{
    background-color: #373d42;
}

.portfolio{
    padding: 3%;
    margin: 5% 15% 5% 15%;
    background-color: #606a70;
    border: 2px solid #7fd6d9;
}

.parallax {
    background-image: url("../assets/background.jpg");
    min-height: 100vh; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.title{
    color: #00aeb3;
    font-size: 4vw;
    text-align: center;
    margin-bottom: 4vh;
    margin-top: 1vh;
    font-family: 'Permanent Marker', cursive;
}

.text{
    color: white;
    font-size: 3vw;
    text-align: center;
    margin-bottom: 4vh; 
    font-family: 'Permanent Marker', cursive;
}

@media only screen and (max-width: 600px) {
    .text{
    font-size: 5vw;
    }
}

.landing-text{
    padding: 2em;
    background-color: #606a70;
    opacity: 0.8;
    border: 2px solid #7fd6d9;
}

.flex-justify-center{
    display: flex;
    justify-content: center;    
}

.flex-align-center{
    display: flex;
    align-items: center;
}

.column{
    flex-direction: column;
}

.margin{
    margin-left: 15%;
    margin-right: 15%;
}

.github{
    color: #00aeb3;
    font-size: 20px;
    text-align: center;
    transition: 0.3s;
    font-family: 'Permanent Marker', cursive;
}

a{
    text-decoration: none;
}

.github:hover{
    cursor: pointer;
    color:white;
}

.portfolio-img{
    width: 33vw;
}

.portfolio-img:hover{
    cursor: pointer;
    width: 33vw;
}

.hr-custom{
    width: 20vw;
    position: relative;
    top: 2vw;
    border-color: #00aeb3;
}

.left{
    margin-left: 10%;
}

.right{
    margin-right: 10%;    
}

@media only screen and (max-width: 500px) {
    .text{
        top: 1vw;
    }
}

.my-img{
    margin-top: 2em;
    margin-bottom: 2em;
    width: 20em;
    border-radius: 50%;
    border: 2px solid #7fd6d9;

}

.contact-img{
    margin: 3.5vh;
    width: 7em;
}

@media only screen and (max-width: 1000px) {
    .contact-img{
        width: 5em;
    }
}

@media only screen and (max-width: 550px) {
    .contact-img{
        margin-left:1.5vh;
        margin-right:1.5vh;
        margin-bottom:0;
        width: 3em;
    }
}
